<div class="card">
    <div class="auth-content">
        <p class="auth-content-title">Forgot your password?</p>
        <p>Enter your email address below and we will send you instructions on how to change your password.</p>

        <div *ngIf="message.text" class="alert alert-{{message.type}}"> {{message.text}} </div>

        <form [formGroup]="fpForm" (ngSubmit)="onSubmit()">
            <div class="form-group" [ngClass]="{'has-error': fpForm.get('email').invalid && fpForm.get('email').touched}">
                <label [ngClass]="(emailFocus || email.value != '') ? 'label-focus' : ''" for="email">Your Email</label>
                <input type="text" class="form-control underlined" id="email" (blur)="emailFocus = false" (focus)="emailFocus = true" formControlName="email"
                    #email>
                <span *ngIf="fpForm.invalid" class="form-help-text">
                    <span *ngIf="fpForm.get('email')['errors']['required']" class="form-help-text">Email can not be empty</span>
                    <span *ngIf="fpForm.get('email')['errors']['email']" class="form-help-text">Email is incorrect</span>
                </span>
            </div>

            <div class="form-group">
                <button [disabled]="fpForm.invalid" type="submit" class="btn btn-block btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>

<div class="form-group">
    <p class="text-muted text-xs-center">
        Return to
        <a [routerLink]="'/login'">Sign in</a>
    </p>
</div>